.containerCart{
    position: relative;
    @include properties-flex(none, center, center);
    left: 5%;
    .totalProduct{
        color: aliceblue;
        list-style: none;
    }

    @media screen and (max-width:768px) {
        left: 15%;
    }

    @media screen and (max-width:330px) {
        left: -10%;
    }
}