.rating-bar {
    @include properties-flex(inline-flex, center, center);
    font-size: 3rem;

    .star {
        border: none;
        cursor: pointer;
        color: gray;
        /* Establece el color gris por defecto */

        &.selected {
            color: gold;
        }
    }
}