@import '@fortawesome/fontawesome-free/css/all.css';

.social-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .whatsapp-button,
  .facebook-button,
  .twitter-button {
    color: #fff;
    background-color: #3b5998;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 30px;

    &:focus {
      outline: none;
    }

    .fab {
      margin-right: 0.5rem;
      font-size: 25px;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .facebook-button {
    font-size: 30px;

    i.fab.fa-facebook:hover {
      color: #2545d3;
    }
  }

  .twitter-button {
    i.fab.fa-twitter:hover {
      color: #1DA1F2;
    }
  }

  .whatsapp-button {
    i.fab.fa-whatsapp:hover {
      color: #25D366;
    }
  }
}