@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import '@fortawesome/fontawesome-free/css/all.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vollkorn";
}

a {
  list-style: none;
  text-decoration: none;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.pantallaDeCarga {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(55, 69, 118);
  animation: parpadeo 1s ease-in-out infinite;
}
.pantallaDeCarga img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .pantallaDeCarga img {
    width: 70%;
    max-width: 300px;
  }
}
@media only screen and (max-width: 576px) {
  .pantallaDeCarga img {
    width: 80%;
    max-width: 200px;
  }
}
.modo-oscuro-toggle {
  position: relative;
  top: 4%;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999;
}

.modo-oscuro-toggle:hover {
  transform: scale(1.1);
}

.modo-oscuro-toggle span {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../components/DarkMode/assets/moon.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.modo-oscuro-toggle.modo-oscuro span {
  background-image: url("../components/DarkMode/assets/sun.png");
}

.Cabecera {
  width: 100%;
  background-color: #053e80;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.Cabecera.modo-oscuro {
  background-color: #292929;
  color: #f5f5f5;
}
.Cabecera.modo-oscuro .Cabecera-ul {
  background-color: #292929;
}
.Cabecera .containerBuscador {
  width: 100%;
  display: flex;
}
.Cabecera .containerBuscador .buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Cabecera .containerBuscador .buscador input[type=text] {
  padding: 0.5rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 0.5rem;
  width: 100%;
  max-width: 100%;
}
.Cabecera .containerBuscador .buscador .submit[type=submit] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #053e80;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Cabecera .containerBuscador .buscador .submit[type=submit]:hover {
  background-color: #1f4287;
}

.Cabecera-button {
  display: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Cabecera-button:hover {
  transform: scale(1.1);
}
.Cabecera-button:focus {
  outline: none;
}

.Cabecera-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: #053e80;
}

.Cabecera-li {
  margin: 0 0.5em;
}
.Cabecera-li a {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.8s;
  text-decoration: none;
  border-radius: 10%;
}
.Cabecera-li a:hover {
  background-color: #2e88ee;
}

@media screen and (max-width: 768px) {
  .Cabecera .containerBuscador {
    position: relative;
    width: 650rem;
  }
  .Cabecera .Cabecera-button {
    position: relative;
    display: flex;
    left: 5%;
  }
  .Cabecera .Cabecera-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .Cabecera .Cabecera-nav.isActive {
    position: relative;
    top: -1.5rem;
    height: 21vh;
    opacity: 1;
  }
  .Cabecera .menuAbierto {
    position: relative;
    top: 0.8rem;
    z-index: 99;
    left: 2%;
  }
  .Cabecera .Cabecera-ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .Cabecera .Cabecera-li {
    width: 100%;
    margin: 0.5em 0;
  }
  .Cabecera .Cabecera-li a {
    display: initial;
  }
  .Cabecera.Active {
    display: flex;
    flex-wrap: wrap;
  }
}
.containerCart {
  position: relative;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  left: 5%;
}
.containerCart .totalProduct {
  color: aliceblue;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .containerCart {
    left: 15%;
  }
}

.banner {
  background-color: #e0bc50;
  color: #333;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.banner.modo-oscuro {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

.banner-text {
  font-size: 1.2rem;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  min-height: 100vh;
  padding: 2rem 0 2rem 0;
}
.products-section.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
}
.products-section.modo-oscuro .product {
  background-color: #858585;
  color: #f5f5f5;
}
.products-section.modo-oscuro .product img {
  filter: brightness(0.75);
}
.products-section.modo-oscuro .product .add-to-cart {
  background-color: #f5f5f5;
  color: #1e1e1e;
  transition: all 0.3s ease;
}
.products-section.modo-oscuro .product .add-to-cart:hover {
  background-color: #005ea1;
  transform: scale(1.1);
}
.products-section .product {
  background-color: #dfdfdf;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin: 0px 15px 0px 15px;
}
.products-section .product img {
  width: 100%;
  height: auto;
  min-height: 250px;
  max-height: 0px;
  margin-bottom: 20px;
  border-radius: 45px;
}
.products-section .product h2 {
  font-size: 0.9rem;
  margin-bottom: 10px;
  overflow: auto;
  height: 98px;
}
.products-section .product button {
  padding: 5px;
  background-color: #ff7c02;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.products-section .product button:hover {
  opacity: 0.8;
}
.products-section .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.products-section .add-to-cart {
  background-color: #0072C6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.products-section .add-to-cart:hover {
  background-color: #005ea1;
  transform: scale(1.1);
}

.ItemCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: sans-serif;
}

.ItemCount-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #dbdbdb;
}
.ItemCount-controls.modo-Oscuro {
  background-color: #333;
}

.ItemCount-button {
  background-color: white;
  border: none;
  font-size: 10px;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.ItemCount-button:hover:nth-of-type(1) {
  background-color: #f44336;
  transform: scale(1.1);
}
.ItemCount-button:hover:nth-of-type(2) {
  background-color: #3e8e41;
  transform: scale(1.1);
}

.ItemCount-quantity {
  color: #333;
  margin: 0;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add-to-cart:hover {
  background-color: #0062cc;
}

.carousel {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}
.carousel.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
}
.carousel.modo-oscuro img {
  filter: brightness(0.75);
}
.carousel.modo-oscuro .slick-slide > div {
  background-color: #b1b1b1;
}
.carousel h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.carousel .slick-list {
  margin: 0 -15px;
}
.carousel a {
  text-decoration: none;
}
.carousel .slick-slide > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  overflow: hidden;
  /* Agregamos esta propiedad para evitar que las imágenes sobresalgan */
  margin: 0 15px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.carousel .slick-slide > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.carousel .slick-slide > div img {
  max-width: 100%;
  height: 27rem;
  object-fit: contain;
  /* Agregamos esta propiedad para ajustar la imagen al tamaño del contenedor */
}
.carousel .slick-slide > div h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}
.carousel .slick-slide > div p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0 0;
  color: #d81c31;
}
.carousel .slick-prev,
.carousel .slick-next {
  opacity: 0;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.product-details.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.product-details.modo-oscuro .product-details__image {
  filter: brightness(0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.product-details.modo-oscuro .slick-slide > div {
  background-color: #b1b1b1;
}
.product-details.modo-oscuro .product-details__info {
  color: #bbbbbb;
}
.product-details.modo-oscuro .product-details__info .product-details__title {
  color: #bbbbbb;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.product-details.modo-oscuro .product-details__info .product-details__description {
  color: #bbbbbb;
}
.product-details .product-details__image {
  width: 100%;
  max-width: 500px;
  margin-right: 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.product-details .product-details__info {
  width: 100%;
}
.product-details .product-details__info .product-details__title {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.product-details .product-details__info .product-details__description {
  margin-bottom: 30px;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.product-details .product-details__info .product-details__price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.product-details .product-details__info .product-details__buy-button {
  margin-left: 0;
  margin-bottom: 20px;
  padding: 12px 24px;
  font-size: 18px;
  top: 10px;
}

@media (min-width: 835px) {
  .product-details {
    flex-direction: row;
    padding: 30px;
  }
  .product-details .product-details__image {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .product-details .product-details__info {
    width: 50%;
  }
  .product-details .product-details__info .product-details__title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
  }
  .product-details .product-details__info .product-details__description {
    text-align: left;
  }
  .product-details .product-details__info .product-details__price-container {
    flex-direction: row;
    width: auto;
  }
  .product-details .product-details__info .product-details__price-container .product-details__buy-button {
    margin-left: 20px;
    margin-bottom: 0;
    padding: 14px 28px;
    font-size: 20px;
  }
}
.rating-bar {
  display: flex;
  flex-direction: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 100%;
}
.rating-bar .star {
  border: none;
  cursor: pointer;
  color: gray;
  /* Establece el color gris por defecto */
}
.rating-bar .star.selected {
  color: gold;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.cart-container.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
}
.cart-container.modo-oscuro .cart-list .cart-item:hover {
  background-color: #424242;
}
.cart-container .cart-list {
  flex-grow: 1;
  padding: 24px;
  overflow-y: scroll;
  height: 100%;
  max-width: 173vh;
  max-height: 80vh;
}
.cart-container .cart-list .cart-item {
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease-out;
  padding: 12px;
  border-radius: 8px;
}
.cart-container .cart-list .cart-item:hover {
  background-color: #f7f7f7;
}
.cart-container .cart-list .cart-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.cart-container .cart-list .cart-item .containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-list .cart-item .containerButtons button {
  margin: 5px;
}
.cart-container .cart-list .cart-item div {
  font-size: 16px;
  margin-bottom: 8px;
}
.cart-container .cart-list .cart-item div:last-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
.cart-container .cart-list .cart-item button {
  background-color: #ff4c4c;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.cart-container .cart-list .cart-item button:hover {
  background-color: #ff1919;
}
@media (max-width: 600px) {
  .cart-container .cart-list .cart-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-container .cart-list .cart-item img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 400px) {
  .cart-container .cart-list .cart-item {
    grid-template-columns: 1fr;
  }
  .cart-container .cart-list .cart-item img {
    width: 100%;
  }
}
.cart-container .cart-list p {
  margin: 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.cart-container .cart-summary {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cart-container .cart-summary h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
.cart-container .cart-summary .summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
}
.cart-container .cart-summary .summary-item div:last-child {
  text-align: right;
}
.cart-container .cart-summary button {
  background-color: #ff4c4c;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  max-width: 150px;
  margin: 5px;
}
.cart-container .cart-summary button:hover {
  background-color: #ff1919;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-container .facebook-button,
.social-container .twitter-button {
  color: #fff;
  background-color: #3b5998;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.social-container .facebook-button:hover,
.social-container .twitter-button:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px, rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.social-container .facebook-button:focus,
.social-container .twitter-button:focus {
  outline: none;
}
.social-container .facebook-button svg,
.social-container .twitter-button svg {
  margin-right: 0.5rem;
}
.social-container .facebook-button {
  background-color: #3b5998;
}
.social-container .twitter-button {
  background-color: #1da1f2;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
  margin-top: auto;
}
.footer-container a {
  color: #fff;
  font-size: 30px;
  margin-right: 15px;
}
.footer-container a:last-child {
  margin-right: 0;
}
.footer-container i.fab.fa-whatsapp:hover {
  color: #25D366;
}
.footer-container i.fab.fa-instagram:hover {
  color: #E1306C;
}
.footer-container i.fab.fa-twitter:hover {
  color: #1DA1F2;
}
.footer-container .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
}
.footer-container .contact-info li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin-right: 30px;
}
.footer-container .contact-info li i {
  margin-right: 10px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */