@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import '@fortawesome/fontawesome-free/css/all.css';
@import '@fortawesome/fontawesome-free/css/all.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vollkorn";
}

a {
  list-style: none;
  text-decoration: none;
}

.containerAbout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerAbout.modo-oscuro {
  background-color: #333;
}
.containerAbout.modo-oscuro .about-us {
  background-color: #333;
  color: #fff;
}
.containerAbout .about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 800px;
  height: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
}
.containerAbout .about-us .title {
  color: #f7931e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.5s ease-in-out;
}
.containerAbout .about-us .text {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.containerAbout .about-us .text:last-child {
  animation: fade-out 0.8s ease-in-out;
}
.containerAbout .about-us:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  /* Aumentamos el desenfoque en un hover */
}
.containerAbout .about-us:hover .title {
  color: #4ac9f4;
}

.add-product-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.add-product-form-container.modo-oscuro {
  background-color: #333;
}
.add-product-form-container.modo-oscuro .add-product-form {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.add-product-form-container.modo-oscuro .add-product-form label {
  color: #fff;
}
.add-product-form-container.modo-oscuro .add-product-form input[type=text],
.add-product-form-container.modo-oscuro .add-product-form textarea,
.add-product-form-container.modo-oscuro .add-product-form input[type=number],
.add-product-form-container.modo-oscuro .add-product-form input[type=url] {
  background-color: #000000;
  color: #c9c9c9;
}
.add-product-form-container.modo-oscuro .add-product-form button[type=submit] {
  background-color: #777777;
  color: #000000;
}
.add-product-form-container .add-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.add-product-form-container .add-product-form label {
  font-size: 18px;
  margin-top: 12px;
  display: block;
  color: #333;
  width: 100%;
}
.add-product-form-container .add-product-form input[type=text],
.add-product-form-container .add-product-form textarea,
.add-product-form-container .add-product-form input[type=number],
.add-product-form-container .add-product-form input[type=url] {
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.add-product-form-container .add-product-form button[type=submit] {
  border: none;
  padding: 10px;
  font-size: 16px;
  width: auto;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-out;
}
.add-product-form-container .add-product-form button[type=submit]:hover {
  background-color: #666;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.banner {
  background-color: #e0bc50;
  color: #333;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.banner.modo-oscuro {
  background-color: #1e1e1e;
  color: #f5f5f5;
}
.banner.modo-oscuro .link {
  color: #f5f5f5;
}
.banner .banner-text {
  font-size: 1.2rem;
}
.banner .link {
  list-style: none;
  color: #1e1e1e;
  text-decoration: none;
  cursor: auto;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  margin: 40px;
}
.card.modo-oscuro {
  box-shadow: 2px 3px 5px rgb(192, 192, 192);
}
.card.modo-oscuro .content {
  background-color: #1a1919;
  color: #32a4c7;
}
.card.modo-oscuro .content h4,
.card.modo-oscuro .content p {
  color: #c5c5c5;
}
.card .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background: #fff;
}
.card .content .imagenPresentacion {
  height: 50%;
  margin-bottom: 20px;
}
.card .content .imagenPresentacion img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.card .content span {
  position: absolute;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #202d66, #32a4c7);
  transform: rotate(-35deg);
  top: -50px;
  left: -100px;
}
.card .content h4 {
  font-size: 18px;
  color: #1a1919;
  margin-bottom: 5px;
}
.card .content h6 {
  font-size: 13px;
  color: #32a4c7;
}
.card .content p {
  font-size: 13px;
  color: #1a1919;
  margin-top: 10px;
}
.card .links {
  position: absolute;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 20px;
  right: 10px;
  top: 15px;
  transition: 0.5s;
}
.card .links a {
  font-size: 20px;
  color: #646069;
}
.card .links a:nth-child(1):hover {
  color: #0158ca;
}
.card .links a:nth-child(2):hover {
  color: #1C93E4;
}
.card .links a:nth-child(3):hover {
  color: #5D277D;
}
.card .links a:nth-child(4):hover {
  color: #5dfe00;
}
.card:hover .links {
  right: -50px;
  border-radius: 0 10px 10px 0;
}

.carousel {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}
.carousel.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
}
.carousel.modo-oscuro img {
  filter: brightness(0.75);
}
.carousel.modo-oscuro .slick-slide > div {
  background-color: #b1b1b1;
}
.carousel h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.carousel .slick-list {
  margin: 0 -15px;
}
.carousel a {
  text-decoration: none;
}
.carousel .slick-slide > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  overflow: hidden;
  /* Agregamos esta propiedad para evitar que las imágenes sobresalgan */
  margin: 0 15px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.carousel .slick-slide > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.carousel .slick-slide > div img {
  max-width: 100%;
  height: 27rem;
  object-fit: contain;
  /* Agregamos esta propiedad para ajustar la imagen al tamaño del contenedor */
}
.carousel .slick-slide > div h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}
.carousel .slick-slide > div p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0 0;
  color: #d81c31;
}
.carousel .slick-prev,
.carousel .slick-next {
  opacity: 0;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.cart-container.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
}
.cart-container.modo-oscuro .cart-list .cart-item:hover {
  background-color: #424242;
}
.cart-container .cart-list {
  flex-grow: 1;
  padding: 24px;
  overflow-y: scroll;
  height: 100%;
  max-width: 173vh;
  max-height: 80vh;
}
.cart-container .cart-list .cart-item {
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease-out;
  padding: 12px;
  border-radius: 8px;
}
.cart-container .cart-list .cart-item:hover {
  background-color: #f7f7f7;
}
.cart-container .cart-list .cart-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.cart-container .cart-list .cart-item .containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-list .cart-item .containerButtons button {
  margin: 5px;
}
.cart-container .cart-list .cart-item div {
  font-size: 16px;
  margin-bottom: 8px;
}
.cart-container .cart-list .cart-item div:last-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
.cart-container .cart-list .cart-item button {
  background-color: #ff4c4c;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.cart-container .cart-list .cart-item button:hover {
  background-color: #ff1919;
}
@media (max-width: 600px) {
  .cart-container .cart-list .cart-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-container .cart-list .cart-item img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 400px) {
  .cart-container .cart-list .cart-item {
    grid-template-columns: 1fr;
  }
  .cart-container .cart-list .cart-item img {
    width: 100%;
  }
}
.cart-container .cart-list p {
  margin: 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.cart-container .cart-summary {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cart-container .cart-summary h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
.cart-container .cart-summary .summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
}
.cart-container .cart-summary .summary-item div:last-child {
  text-align: right;
}
.cart-container .cart-summary button {
  background-color: #ff4c4c;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  max-width: 150px;
  margin: 5px;
}
.cart-container .cart-summary button:hover {
  background-color: #ff1919;
}

.containerCart {
  position: relative;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  left: 5%;
}
.containerCart .totalProduct {
  color: aliceblue;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .containerCart {
    left: 15%;
  }
}
@media screen and (max-width: 330px) {
  .containerCart {
    left: -10%;
  }
}

.containerCheckOutForm {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCheckOutForm.dark-mode {
  background-color: #333;
  color: white;
}
.containerCheckOutForm.dark-mode .checkout-form {
  background-color: #535353;
}
.containerCheckOutForm .checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 600px;
  margin: 5% auto;
}
.containerCheckOutForm .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}
.containerCheckOutForm .form-label {
  font-size: 16px;
  margin-bottom: 8px;
}
.containerCheckOutForm .form-input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
}
.containerCheckOutForm .form-button {
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
}
.containerCheckOutForm .form-button:hover {
  background-color: #0058c1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  font-size: 1.5rem;
  color: #bbb;
}
.loading.modo-oscuro {
  background-color: #333;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  font-size: 2rem;
  color: #666;
  text-align: center;
}
.success.modo-oscuro {
  background-color: #333;
  color: #ccc;
}
@media (max-width: 768px) {
  .success {
    font-size: 1.5rem;
  }
}

@keyframes image {
  0% {
    transform: perspective(30000px) rotateY(0deg);
  }
  100% {
    transform: perspective(30000px) rotateY(360deg);
  }
}
.containerCarousel3d.modo-oscuro {
  background-color: #333;
}
.containerCarousel3d.modo-oscuro h2 {
  color: #f5f5f5;
}
.containerCarousel3d.modo-oscuro .carousel3d .containerImg {
  filter: brightness(0.75);
}
.containerCarousel3d h2 {
  text-align: center;
}
.containerCarousel3d .carousel3d {
  position: relative;
  width: 80%;
  padding-bottom: 60%;
  top: -6em;
  left: 10%;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: image 40s linear infinite;
}
.containerCarousel3d .carousel3d .containerImg {
  position: absolute;
  width: 50%;
  height: 70%;
  background: var(--img);
  background-size: cover;
  top: 25%;
  left: 25%;
  transform: rotateY(calc(var(--i) * 90deg)) translateZ(calc(15rem + 15.625vw));
  transform-origin: center;
  border-radius: 5%;
}
@media (max-width: 768px) {
  .containerCarousel3d .carousel3d .containerImg {
    transform: rotateY(calc(var(--i) * 90deg)) translateZ(calc(5rem + 15.625vw));
  }
}
@media (max-width: 768px) {
  .containerCarousel3d .carousel3d {
    position: relative;
    width: 80%;
    padding-bottom: 60%;
    top: -1em;
  }
}

.ItemCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: sans-serif;
}

.ItemCount-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #dbdbdb;
}
.ItemCount-controls.modo-Oscuro {
  background-color: #333;
}

.ItemCount-button {
  background-color: white;
  border: none;
  font-size: 10px;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.ItemCount-button:hover:nth-of-type(1) {
  background-color: #f44336;
  transform: scale(1.1);
}
.ItemCount-button:hover:nth-of-type(2) {
  background-color: #3e8e41;
  transform: scale(1.1);
}

.ItemCount-quantity {
  color: #333;
  margin: 0;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.add-to-cart:hover {
  background-color: #0062cc;
}

.modo-oscuro-toggle {
  position: relative;
  top: 4%;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999;
}

.modo-oscuro-toggle:hover {
  transform: scale(1.1);
}

.modo-oscuro-toggle span {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../components/DarkMode/assets/moon.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.modo-oscuro-toggle.modo-oscuro span {
  background-image: url("../components/DarkMode/assets/sun.png");
}

.Cabecera {
  width: 100%;
  background-color: #053e80;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.Cabecera.modo-oscuro {
  background-color: #292929;
  color: #f5f5f5;
}
.Cabecera.modo-oscuro .Cabecera-ul {
  background-color: #292929;
}
.Cabecera .containerBuscador {
  width: 100%;
  display: flex;
}
.Cabecera .containerBuscador .buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Cabecera .containerBuscador .buscador input[type=text] {
  padding: 0.5rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 0.5rem;
  width: 100%;
  max-width: 100%;
}

.Cabecera-button {
  display: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Cabecera-button:hover {
  transform: scale(1.1);
}
.Cabecera-button:focus {
  outline: none;
}

.Cabecera-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: #053e80;
}

.Cabecera-li {
  margin: 0 0.5em;
}
.Cabecera-li a {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.8s;
  text-decoration: none;
  border-radius: 10%;
}
.Cabecera-li a:hover {
  background-color: #2e88ee;
}

@media screen and (max-width: 768px) {
  .Cabecera .containerBuscador {
    position: relative;
    width: 650rem;
  }
  .Cabecera .Cabecera-button {
    position: relative;
    display: flex;
    left: 5%;
  }
  .Cabecera .Cabecera-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .Cabecera .Cabecera-nav.isActive {
    position: relative;
    top: -1.5rem;
    height: fit-content;
    opacity: 1;
  }
  .Cabecera .menuAbierto {
    position: relative;
    top: 0.8rem;
    z-index: 99;
    left: 2%;
  }
  .Cabecera .Cabecera-ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .Cabecera .Cabecera-li {
    width: 100%;
    margin: 0.5em 0;
  }
  .Cabecera .Cabecera-li a {
    display: initial;
  }
  .Cabecera.Active {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 330px) {
  .Cabecera .Cabecera-button {
    left: 0%;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.loading-screen {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #374475;
  animation: parpadeo 1s ease-in-out infinite;
}
.loading-screen img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .loading-screen img {
    width: 70%;
    max-width: 300px;
  }
}
@media only screen and (max-width: 576px) {
  .loading-screen img {
    width: 80%;
    max-width: 200px;
  }
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.product-details.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.product-details.modo-oscuro .product-details__image {
  filter: brightness(0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.product-details.modo-oscuro .slick-slide > div {
  background-color: #b1b1b1;
}
.product-details.modo-oscuro .product-details__info {
  color: #bbbbbb;
}
.product-details.modo-oscuro .product-details__info .product-details__title {
  color: #bbbbbb;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.product-details.modo-oscuro .product-details__info .product-details__description {
  color: #bbbbbb;
}
.product-details .product-details__image {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-right: 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
  top: 5px;
  width: 95%;
}
.product-details .product-details__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-details .product-details__info .product-details__title {
  font-size: 28px;
  width: 90%;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.product-details .product-details__info .product-details__description {
  margin-bottom: 30px;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  width: 90%;
}
.product-details .product-details__info .product-details__description .rating-bar {
  width: fit-content;
}
.product-details .product-details__info .product-details__price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.product-details .product-details__info .product-details__buy-button {
  margin-left: 0;
  margin-bottom: 20px;
  padding: 12px 24px;
  font-size: 18px;
  top: 10px;
}

@media (min-width: 835px) {
  .product-details {
    flex-direction: row;
    padding: 30px;
  }
  .product-details .product-details__image {
    margin-right: 50px;
    margin-bottom: 0;
    border-radius: 5%;
  }
  .product-details .product-details__info {
    width: 50%;
  }
  .product-details .product-details__info .product-details__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .product-details .product-details__info .product-details__description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-details .product-details__info .product-details__description .containerRating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .product-details .product-details__info .product-details__price-container {
    flex-direction: row;
    width: auto;
  }
  .product-details .product-details__info .product-details__price-container .product-details__buy-button {
    margin-left: 20px;
    margin-bottom: 0;
    padding: 14px 28px;
    font-size: 20px;
  }
}
.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 20px;
  min-height: 100vh;
  padding: 2rem 0 2rem 0;
}
.products-section.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
}
.products-section.modo-oscuro .product {
  background-color: #858585;
  color: #f5f5f5;
}
.products-section.modo-oscuro .product img {
  filter: brightness(0.75);
}
.products-section.modo-oscuro .product .add-to-cart {
  background-color: #f5f5f5;
  color: #1e1e1e;
  transition: all 0.3s ease;
}
.products-section.modo-oscuro .product .add-to-cart:hover {
  background-color: #005ea1;
  transform: scale(1.1);
}
.products-section .product {
  background-color: #dfdfdf;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin: 0px 15px 0px 15px;
  border-radius: 45px;
  width: fit-content;
  max-height: fit-content;
}
.products-section .product img {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin-bottom: 20px;
  border-radius: 45px;
}
.products-section .product h2 {
  font-size: 0.9rem;
  margin-bottom: 10px;
  overflow: auto;
  height: 98px;
}
.products-section .product button {
  padding: 5px;
  background-color: #ff7c02;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.products-section .product button:hover {
  opacity: 0.8;
}
.products-section .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.products-section .add-to-cart {
  background-color: #0072C6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.products-section .add-to-cart:hover {
  background-color: #005ea1;
  transform: scale(1.1);
}

.buscador-container {
  position: relative;
  min-width: 200px;
}
.buscador-container ul {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  padding: 10px;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
}
.buscador-container ul.modo-oscuro {
  background-color: #333;
}
.buscador-container ul.modo-oscuro li {
  color: #ffffff;
}
.buscador-container ul.modo-oscuro .product-item:hover {
  transition: all ease 1s;
  background-color: rgba(204, 204, 204, 0.1921568627);
}
.buscador-container ul.modo-oscuro .product-item h3 {
  color: #fff;
}
.buscador-container ul li {
  color: #333;
}
.buscador-container ul .product-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.buscador-container ul .product-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
}
.buscador-container ul .product-item:hover {
  cursor: pointer;
  transition: all ease 1s;
  background-color: rgba(51, 51, 51, 0.1921568627);
}
.buscador-container ul .product-item h3 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.search-product-form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.search-product-form.modo-oscuro {
  background-color: #333;
}
.search-product-form.modo-oscuro label {
  color: #ddd;
}
.search-product-form.modo-oscuro button:hover {
  background-color: #ddd;
}
.search-product-form label {
  font-size: 18px;
}
.search-product-form input[type=text] {
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px;
}
.search-product-form button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}
.search-product-form button:hover {
  background-color: #ddd;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-container .whatsapp-button,
.social-container .facebook-button,
.social-container .twitter-button {
  color: #fff;
  background-color: #3b5998;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 30px;
}
.social-container .whatsapp-button:focus,
.social-container .facebook-button:focus,
.social-container .twitter-button:focus {
  outline: none;
}
.social-container .whatsapp-button .fab,
.social-container .facebook-button .fab,
.social-container .twitter-button .fab {
  margin-right: 0.5rem;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}
.social-container .whatsapp-button .fab:hover,
.social-container .facebook-button .fab:hover,
.social-container .twitter-button .fab:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.social-container .facebook-button {
  font-size: 30px;
}
.social-container .facebook-button i.fab.fa-facebook:hover {
  color: #2545d3;
}
.social-container .twitter-button i.fab.fa-twitter:hover {
  color: #1DA1F2;
}
.social-container .whatsapp-button i.fab.fa-whatsapp:hover {
  color: #25D366;
}

.view-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.view-product.modo-oscuro {
  background-color: #333;
  color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.view-product.modo-oscuro .view-product__image {
  filter: brightness(0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.view-product.modo-oscuro .view-product__info-container {
  color: #ffffff;
}
.view-product.modo-oscuro .view-product__info-container .view-product__title {
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.555);
}
.view-product.modo-oscuro .view-product__info-container .view-product__description {
  color: #ffffff;
}
.view-product .view-product__image-container {
  position: relative;
  max-width: 500px;
  margin-right: 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
  top: 10px;
  width: 95%;
  border-radius: 5%;
}
.view-product .view-product__image {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
  transition: all 0.3s ease-in-out;
  border-radius: 5%;
}
.view-product .view-product__image:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.view-product .view-product__info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-product .view-product__info-container .view-product__title {
  font-size: 28px;
  width: 90%;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.521);
}
.view-product .view-product__info-container .view-product__description {
  margin-bottom: 30px;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  width: 90%;
}
.view-product .view-product__info-container .view-product__details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.view-product .view-product__info-container .view-product__details-container .view-product__stock {
  padding-right: 15px;
  font-size: 1.5rem;
}
.view-product .view-product__info-container .view-product__details-container .view-product__stock--low {
  color: red;
}
.view-product .view-product__info-container .view-product__details-container .view-product__price {
  font-size: 1.5rem;
  margin: 0;
  align-self: flex-end;
}

@media (min-width: 835px) {
  .view-product {
    flex-direction: row;
    padding: 30px;
  }
  .view-product .view-product__image-container {
    margin-right: 50px;
    margin-bottom: 0;
    border-radius: 5%;
  }
  .view-product .view-product__info-container {
    width: 50%;
  }
  .view-product .view-product__info-container .view-product__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .view-product .view-product__info-container .view-product__description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .view-product .view-product__info-container .view-product__details-container {
    flex-direction: row;
  }
  .view-product .view-product__info-container .view-product__details-container .view-product__price {
    flex-direction: row;
    width: auto;
  }
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
  margin-top: auto;
}
.footer-container a {
  color: #fff;
  font-size: 30px;
  margin-right: 15px;
}
.footer-container a:last-child {
  margin-right: 0;
}
.footer-container i.fab.fa-whatsapp:hover {
  color: #25D366;
}
.footer-container i.fab.fa-instagram:hover {
  color: #E1306C;
}
.footer-container i.fab.fa-twitter:hover {
  color: #1DA1F2;
}
.footer-container .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  gap: 10px;
}
.footer-container .contact-info li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin-right: 30px;
}
.footer-container .contact-info li i {
  margin-right: 10px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */